/* Jobcard.css */

.jobcard-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

/* .jobcard-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
} */

.jobcard-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.jobcard-job_profile {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.jobcard-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.jobcard-actions {
    display: flex;
    justify-content: space-between;
}

.jobcard-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.company-action-button:hover {
    background-color: #0056b3;
}
