/* styles.css or ReviewSection.css */

.review-section {
  margin: 20px 0;
  /* overflow: hidden; Hide overflow to prevent scrollbar */
  overflow-x: auto; /* Enable horizontal scrolling */
  /* white-space: nowrap; Prevent reviews from wrapping to new lines */
}

.review-container {
  display: inline-flex;
  gap: 20px; /* Adjust the gap between reviews */
  width: 10000px; /* Total width of all reviews */
  animation: scrollAnimation 120s linear infinite; /* Slower animation for slow scrolling */
  
}

.review-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px; /* Adjust the width of each review card */
  border-radius: 10px; /* Rounded corners for review box */
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
}

.rating {
  color: #007bff; /* Orange color for ratings */
}

.comment {
  margin-bottom: 0;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 10)); /* Move reviews by total width */
  }
}


